
  <footer class="page-footer font-small teal pt-4" style="margin-top: 150px;">
    <div class="container-fluid text-center text-md-left" style="background-color: rgb(38, 50, 56); color: white; padding-top: 15px;">
      <div class="row">
        <div class="col-md-6 mt-md-0 mt-3" >
          <h5 class="text-uppercase font-weight-bold" style="font-family: Comic Sans MS, cursive, sans-serif; color: seagreen; font-size: medium;">JEAN FORTEROCHE</h5>
          <p style="font-size: small;">« Les sites et blogs d'écrivains ne sont pas un phénomène. Le mot est dépassé 
            ! C'est un acte irréversible qui s'ajoute aux fonctions de l'édition papier, les complète. Peut-être 
            n'avons-nous jamais autant écrit et lu depuis que nous avons pris en main ce champ.»</p>
        </div>
        <hr class="clearfix w-100 d-md-none pb-3">
        <div class="col-md-6 mb-md-0 mb-3">
          <h5 class="text-uppercase font-weight-bold" style="font-family: Comic Sans MS, cursive, sans-serif; color: seagreen; font-size: medium;">Contact</h5>    
          <div class="social">
            <a href="mailto:massinissa.tacherifte@gmail.com"><span class="fas fa-envelope fa-2x" style="color: seagreen;"></span></a>
            <a target="_blank" title="Facebook" href="https://www.facebook.com"><i class="fab fa-facebook fa-2x" ></i></a> 
            <a target="_blank" title="Twitter" href="https://twitter.com"><i class="fab fa-twitter-square fa-2x"></i></a> 
          </div>
        </div>
      </div>
    </div>
    <div class="footer-copyright text-center py-3" style="background-color: rgb(30, 40, 45);">
      <p style="text-align: center; color: grey;">Billet simple pour l'Alaska - JEAN FORTEROCHE - COPYRIGHT © 2020.</p>
    </div> 
  </footer> 
</html>