    <footer class="page-footer  teal pt-4">
      <div class="container-fluid text-center text-md-left">
        <div class="row">
          <div class="col-md-6 mt-md-0 mt-3" >
            <h5 class="text-uppercase font-weight-bold">JEAN FORTEROCHE</h5>
            <p class="footer-text">« Les sites et blogs d'écrivains ne sont pas un phénomène. Le mot est dépassé 
              ! C'est un acte irréversible qui s'ajoute aux fonctions de l'édition papier, les complète. Peut-être 
              n'avons-nous jamais autant écrit et lu depuis que nous avons pris en main ce champ.»</p>
          </div>
          <hr class="clearfix w-100 d-md-none pb-3">
          <div class="col-md-6 mb-md-0 mb-3">
            <h5 class="text-uppercase font-weight-bold">Contact</h5>    
            <div class="social">
              <a href="mailto:massinissa.tacherifte@gmail.com"><span class="fas fa-envelope fa-2x"></span></a>
              <a target="_blank" title="Facebook" href="https://www.facebook.com"><i class="fab fa-facebook fa-2x" ></i></a> 
              <a target="_blank" title="Twitter" href="https://twitter.com"><i class="fab fa-twitter-square fa-2x"></i></a> 
            </div>
          </div>
        </div>
      </div>
      <div class="footer-copyright text-center py-3">
        <p>Billet simple pour l'Alaska - JEAN FORTEROCHE - COPYRIGHT © 2020.</p>
      </div> 
    </footer> 
    <script src="assets/index.js"></script>
  </body>
</html>